.payment_header {
  background-color: rgb(234, 237, 237);
  padding: 20px;
  text-align: center;
  font-size: 24px;
}

.Payment {
  padding: 30px;
}

.flex {
  display: flex;
  gap: 10px;
  padding: 30px;

}
.flex img {
  min-width: 80px !important;
}

.flex h3{
  min-width: 300px;
}
div h3{
    padding: 10px;
}
.flex h3 {
  min-width: 300px;
}

.flex img {
  width: 50%;
  height: auto;
}
.flex div{
  height: auto !important;
}

.Payment_card_container{
    max-width: 358px;
    width: 100%;
}
/* .Payment__details{

  /* font-size: 20px;
  gap: 10px; */
 
.Payment__price{
  padding: 20px;
}
.Payment__price > div {
  font-size: 16px;
  display: flex;
  gap: 10px;
}

.Payment__details button{
  margin-top: 15px;
  width: 100%;
  border: none;
  background-color: #febd69;
border-radius: 5px;
padding: 8px 10px;
cursor: pointer;
}
.Payment__details button:hover{
  background-color: #febd69;
}

.loader{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  color: rgb(52, 52, 52);
}
 @media screen and  (max-width: 768px) {

  .flex{
    flex-direction: column;

  }
 }
